body{
    margin: 0;
    padding: 50px;
  
}
.con{
    max-height: 200px;
    max-width: 200px;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 0px;
    border-radius: 25px;
    padding: 13px;
}
*{
    box-sizing: border-box;
}
.container{
    height:50px;
    width: 50px;
    background-color: grey;
    border-radius: 10px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}